.spinner-container {
  align-items: center;
  background: #000;
  border-radius: 20px;
  bottom: 15px;
  color: #fff;
  display: flex;
  padding: 5px 10px;
  position: fixed;
  right: 15px;
  z-index: 9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

span {
  margin-left: 10px;
}
