<h1>Mutaciones</h1>
<hr />

<div class="row">
  <div class="col-6">
    <input
      type="email"
      placeholder="Email"
      class="form-control mb-2"
      #txtEmail
      [value]="user().email"
      (input)="onFieldUpdated('email', txtEmail.value)"
    />
    <input
      type="text"
      placeholder="Nombre"
      class="form-control mb-2"
      #txtFirstName
      [value]="user().first_name"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
    />
    <input
      type="text"
      placeholder="Apellido"
      class="form-control mb-2"
      #txtLastName
      [value]="user().last_name"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
    />
  </div>

  <div class="col-6">
    <pre>{{ user() | json }}</pre>
    <button class="btn btn-primary" (click)="increaseBy(+1)">+1</button>
  </div>
</div>
